import(glasso,glmnet,Matrix)
export(mbscore,lassoscore,qqpval,glassoscore,mbscore)
S3method(print,lassoscore)
S3method(summary,lassoscore)
S3method(plot,lassoscore)
S3method(print,glassoscore)
S3method(plot,glassoscore)
S3method(print,mbscore)
S3method(plot,mbscore)